<% content_for :email_title do %>
  Actualizar tu contraseña
<% end %>

<p style="margin-bottom: 20px;">
  ¡Hola <%= @resource.email %>!
</p>

<p style="margin-bottom: 20px;">
  Hemos recibido la petición para actualizar tu contraseña. Puedes hacerlo a través del siguiente link:
</p>

<table cellpadding="0" cellspacing="0" border="0" style="margin: 30px 0;">
  <tr>
    <td>
      <a href="<%= custom_password_edit_url(reset_password_token: @token) %>" target="_blank" style="padding: 12px 24px; border-radius: 100px; font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; background-color: #EEEEEE; color: #333; text-decoration: none; display: inline-block; white-space: nowrap;">Actualizar mi contraseña</a>
    </td>
  </tr>
</table>

<p style="margin-bottom: 20px;">
  Si no reconoces esta petición, por favor ignora este correo.
</p>

<p style="margin-bottom: 20px;">
  Tu contraseña no cambiará a menos que accedas al link de arriba y establezcas una nueva.
</p>
